
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#161616 ;
}

header {
    background-color:#292c56 ;
    
    padding: 15px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

nav .left {
    font-size: 24px;
    font-weight: bold;
    color: #EEEEEE;  }

nav .right ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .right ul li {
    cursor: pointer;
    padding: 5px;
    
    color: #EEEE;  
}

nav .right ul li:hover {
    color:#EEEE;
}
.nav-button:hover{
    background-color:#393E46 ;
}
.nav-button{
  
    background-color:#000000;
    padding: 5px;
    height: 30px;
    width: 150px;
    
}

.image-container{
    font-size: 40px;
    font-family: 'Times New Roman';
}
main {
    margin: 30px;
}
.section{
    height: 200px;
}
.firstsection {
    display: flex;

    
padding: 7px;
    background-color:#f4e8e8 ;
    border-radius: 9px;
    height: 450px;
}
.firstsection-left{
    border-image: round;
    border-radius: 40px;  
    width: 1000px;
    margin: 60px;
    
}
 
button{
    padding: 6px 20px;
    border-radius: 5px;
    border: none;
    background-color:#3c4177 ;
    color: white;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    height: 40px;
}
button:hover {
    background-color: #4e5068;
}

button a {
    color: white;
    text-decoration: none;
}

.imbc{
    height: 220px;
    width: 220px;
    border-radius: 150px;
}
.firstsection,header{
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(100, end), blink 0.15s step-end infinite;
}

@keyframes typing {
    from { width: 30px }
    to { width: 100%}
}


.aboutsection-div{

    background-color:#323555;
    padding :40px;
    border-radius: 50px;
}
.aboutsectionpara{
    font-stretch: narrower;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
}
.contact{
    display: flex;
    justify-content: space-around;
  height: 250px;
 border-top-right-radius: 30px;
 border-top-left-radius: 30px;
   background-color:#cf894f ;
 padding: 20px ;

}
.form{
    margin: 20px auto;
text-align: center;
padding: 222px;
border: 5px solid #ac8654;
border-radius: 20px;
}
#submit{
    background-color:#ac8654;
    border-color: #E3CCAE;
    border-radius: 7px;
    padding: 5px 10px;
     cursor: pointer;
}
#email,#phonenumber,#name{
    width: 220px;
   height: 22px;
   border-radius: 5px;
}

#submit{
    width: 100px;
}

.project-row{
    display: flex;
    justify-content: space-between ; 
    background: #161616;
    margin: 4px;

}
.onimg{
    background: #000;
    justify-content: center;
    border-radius: 60px;
}
.projects1{
    background-color: #fff7f7;
    border-radius: 10px;
    background-image: url("images/tress.jpg");
    height: 400px;
    width: 450px;
    border-radius: 7px;
    background-position: center;
    background-size: 600px;
}
.projects2{
    background-color: #e6e6e6;
    height: 400px;
    width: 450px;
    border-radius: 10px;

}

.projects3{
    background-color: #f2f2f5;
    height: 400px;
    width: 450px;
    border-radius: 10px;
}



