*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    background: #dab687;
    margin: 0;
    padding: 20px;
    
}
nav .right ul {
    display: flex;
   
    list-style: none;
    
}
nav .right ul li{
    justify-content: space-around;
}